{% extends 'base.html'%}
{% block title %}
 | {{object.title}}
{% endblock %}
{% block content %}
    <div class="post-entry">
        <h2>{{object.title}}</h2> 
        <small>
        By: {{object.author.username}}<br/>
        Date: {{object.post_date}}<br/>
        <div  class="card-link cats"><a href="{% url 'category' post.category %}">{{post.category}}</a></div>
        <div  class="card-link like_counter">{{ total_likes }} liked</div>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger delete"><i class="fa-regular fa-trash-can"></i></a>
                <a href="{% url 'update_post' post.pk %}" class="btn btn-primary edit"><i class="fa-regular fa-pen-to-square"></i></a>
            {% endif %}

        {% endif %}
        <br/>
        <hr>
        <p><i>{{object.body|safe}}</i></p>
        <br/>
        <hr>
        
        {% if user.is_authenticated %}
            <form action="{% url 'like_post' post.pk %}" method="POST">{% csrf_token %}
            {% if liked %}
                <button type="submit" class="btn btn-primary hit_dislike"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom" name="post_id" value="{{ post.id }}" ><i class="fas fa-face-grin-squint"></i></button>
 

            {% else %}
                <button type="submit" data-toggle="tooltip" data-placement="bottom" title="Smile" data-html="true" name="post_id", value="{{ post.id }}" class="btn btn-primary hit_like"><i class="fa-regular fa-face-grin-squint"></i></button>
            {% endif %}
            </form>
        {% endif %}

    </div>
{% endblock content %}